body {
  background-color: #fffff8;
  margin: 0;
  font-family: arial;
  letter-spacing: 1px;
}

#pageUp  {
  text-align: right;
  text-decoration: none;
  font-size: 9px;
  color: rgb(60,179,113);
}

/* Navigation bar */
header h1 {
  font-size: 20px;
  color: #000;
  padding: 0 8px 10px 8px;
  font-weight: bold;
}

#navbar ul {
  list-style-type: none;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  width: 25%;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: rgb(60,179,113);
}
#navbar li a {
  display: block;
  color: #000;
  padding: 16px 16px;
  text-decoration: none;
}

#navbar li a.active {
  background-color: #4CAF50;
  color: white;
}

#navbar li a:hover:not(.active) {
  color: #fffff8;
  font-weight: normal;
}
/* End of Navigation bar */

#main-doc {
  margin-left: 27%;
  margin-right: 1em;
}

.main-section h1, h2, h3 {
 padding: 1em 0; 
}

hr {
  border: 3px solid rgb(60,179,113);
}

b {
  color: rgb(60,179,113);
    }

a {
  color: black;
}

a:hover {
  font-weight: bold;
}

textarea {
  width: 90%;
  height: 10em;
  padding-right: 45px;
  display: block;
  white-space: pre;
  position: relative;
  padding: 20px;
  margin: 10px;
  background-color: #dfdfe2;
  line-height: 1.5em;
  border: none;
}

code {
  background-color: #dfdfe2; 
}

footer {
  font-size: 10px;
  line-height: 30px;
}

@media screen and (max-width: 800px) {
  #navbar h1 {
    font-size: 30px;
    color: rgb(60,179,113);
  }
  
  #navbar ul {
    background-color: #dfdfe2;
    float: none;
    width: auto;
    top: 0;
    text-align: center;
    height: auto;
    position: static;
    padding: 8px 8px;  
  }
  
  #navbar li a {
    padding: 9px;
    float: none;
  }
  
  #main-doc {
    margin: 0 1em;
  }
  
  .main-section h1, h2, h3 {
    padding-top: 1.5em;
  }
}